.week__day-item-box{
  width: 120px;
  height: 150px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 25px 22px 8px 22px;
  margin-right: 80px;
  opacity: 0;
  transition:  .3s ease-in-out;
  &:last-child{
    margin-right: 0;
  }
}

.week__day-item-temp-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.week__day-item-temp-day{
  font-weight: 600;
  text-align: center;
}

.week__day-item-img{
  width: 67px;
}

.week__day-item-temp-night{
  color: #B9B9B9;
  font-weight: 600;
}

.week__day-item-day{
  font-weight: 600;
  font-size: 16px;
}

.week__day--container{
  opacity: 0;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 130px;
  align-items: center;
  transition:  .3s;
}

.activeTab{
  opacity: 1;
}
